

<div class="toolbar {% if section.settings.view_as_enable or section.settings.limited_view %}different-toolbar{% endif %} {% if section.settings.view_as_enable or section.settings.sort_enable or section.settings.limited_view %}has-padding{% endif %}{% unless section.settings.view_as_enable or section.settings.sort_enable or section.settings.limited_view %}not-padding{% endunless %}">       
  <div class="column-left">
    <div class="sidebar-label">
      <span class="icon-filter">
        <span class="filters-counter"></span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve"><g><path d="M6,48c-0.552,0-1-0.447-1-1v-7c0-0.553,0.448-1,1-1s1,0.447,1,1v7C7,47.553,6.552,48,6,48z"></path><path d="M6,31c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v29C7,30.553,6.552,31,6,31z"></path><g><path d="M6,41c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S9.309,41,6,41z M6,31c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4    S8.206,31,6,31z"></path><path d="M42,48c-0.552,0-1-0.447-1-1V26c0-0.553,0.448-1,1-1s1,0.447,1,1v21C43,47.553,42.552,48,42,48z"></path><path d="M42,17c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v15C43,16.553,42.552,17,42,17z"></path><path d="M42,27c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S45.309,27,42,27z M42,17c-2.206,0-4,1.794-4,4s1.794,4,4,4    s4-1.794,4-4S44.206,17,42,17z"></path><path d="M24,48c-0.552,0-1-0.447-1-1V21c0-0.553,0.448-1,1-1s1,0.447,1,1v26C25,47.553,24.552,48,24,48z"></path><path d="M24,12c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v10C25,11.553,24.552,12,24,12z"></path><path d="M24,22c-3.309,0-6-2.691-6-6s2.691-6,6-6c3.309,0,6,2.691,6,6S27.309,22,24,22z M24,12c-2.206,0-4,1.794-4,4s1.794,4,4,4    s4-1.794,4-4S26.206,12,24,12z"></path></g></g></svg>
      </span>
      <span class="sidebar_more" {% if settings.enable_multilang %}data-translate="collections.sidebar.sidebar_more"{% endif %}>
        {{ 'collections.sidebar.sidebar_more' | t }}
      </span>
    </div>
    <div class="b-type-icon">
      <svg width="34" height="69" viewBox="0 0 34 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8146 0.0771093C13.8271 0.151535 13.6176 0.188747 12.62 0.523662C12.0215 0.728332 11.7721 0.877182 11.3033 1.31443L10.7247 1.84471L9.79694 1.82611C8.98892 1.7982 8.81934 1.82611 8.40036 2.03078C7.83176 2.29127 6.90403 3.2774 6.45513 4.05887C5.83664 5.14734 4.98872 7.89178 4.68945 9.7245C4.46002 11.213 4.50989 12.3573 4.82911 12.3108C4.94882 12.3015 5.00867 12.1433 5.05855 11.7433C5.16828 10.999 5.21816 10.9153 5.22813 11.5014C5.23811 11.7712 5.27801 12.2736 5.32789 12.6178L5.34367 12.7265C5.39668 13.0914 5.48331 13.6879 5.53738 14.1249C5.63713 14.9529 5.99625 16.1809 6.15586 16.246C6.19576 16.2646 6.19576 16.3391 6.16584 16.4228C6.12593 16.5158 6.14589 16.553 6.20574 16.5158C6.26559 16.4786 6.3454 16.5065 6.36535 16.5623C6.39528 16.6275 6.40525 16.5437 6.3853 16.3763C6.3454 15.9483 6.52496 16.1437 6.59479 16.5995C6.68457 17.195 6.72447 17.2508 6.88408 17.0461C7.01376 16.8786 7.02374 16.8973 7.03371 17.2415C7.04369 17.5857 7.05366 17.6043 7.18334 17.4368C7.26315 17.3345 7.33298 17.1112 7.33298 16.9345C7.33298 16.7577 7.37288 16.6461 7.43273 16.6833C7.49259 16.7205 7.53249 16.6182 7.53249 16.46C7.53249 16.1437 7.67215 16.0879 7.82178 16.3298C7.87315 16.4112 7.89806 16.4507 7.91151 16.447C7.92418 16.4435 7.92667 16.4017 7.93151 16.3205C7.93151 16.2181 7.96144 16.1716 8.00134 16.1995C8.03127 16.2367 8.06119 16.5251 8.05122 16.8414C8.05122 17.167 8.07117 17.3624 8.09112 17.288L8.10019 17.2655C8.13029 17.1909 8.17283 17.0855 8.19088 17.0182C8.23078 16.8973 8.51009 17.3531 8.80936 18.0322L8.91909 18.2648V18.0322C8.91909 17.902 8.87919 17.6136 8.81934 17.3903C8.6697 16.7856 8.76946 16.8321 9.05875 17.4927C9.36799 18.1811 9.41787 17.9299 9.13855 17.1112C8.90912 16.4135 8.9989 16.4507 9.47772 17.2601C9.78697 17.7904 9.83684 17.9485 9.79694 18.2648C9.72711 18.6835 9.85679 19.0277 9.95655 18.6928C10.0463 18.3672 10.2957 18.5625 10.4354 19.0649L10.5651 19.5207L10.6947 19.1672C10.751 19.0174 10.8008 18.8735 10.8232 18.8086L10.8344 18.7765C10.8344 18.7486 10.9042 18.8509 10.984 19.0091L11.1337 19.2882L11.0738 18.916C11.0539 18.8137 11.0314 18.6881 11.0102 18.5695C10.989 18.4509 10.9691 18.3392 10.9541 18.2648C10.8544 17.7624 11.0838 18.1439 11.2234 18.73L11.2303 18.7566C11.3631 19.2698 11.3641 19.2736 11.423 18.9626L11.4728 18.6369L11.6025 18.9533C11.6624 19.13 11.7222 19.3719 11.7222 19.4928C11.7222 19.6138 11.7621 19.6975 11.812 19.6696C11.9417 19.5859 12.0315 19.865 12.0913 20.5627C12.1412 21.0744 12.1711 21.1674 12.2609 21.0465C12.3607 20.9255 12.4205 21.1116 12.6001 22.014C12.7198 22.628 12.8195 23.2606 12.8195 23.4095C12.8195 23.5583 12.65 23.9956 12.4504 24.3677C11.9517 25.298 10.575 26.6005 9.57748 27.0749C8.72956 27.4843 7.92154 27.7634 7.3629 27.8471C6.58481 27.9587 5.84662 28.582 5.19821 29.6519C4.77923 30.331 4.65953 30.7311 4.6296 31.4567L4.60965 31.9963L4.11087 32.2475C3.82158 32.3963 3.59214 32.5731 3.58217 32.6754C3.57219 32.7685 3.50236 32.8987 3.44251 32.9545C3.3627 33.029 3.34275 33.0104 3.39263 32.8708C3.49239 32.5824 2.57464 33.5406 2.07586 34.2477C1.04837 35.699 0.60945 37.0293 0.60945 38.6853C0.60945 40.2203 0.918692 40.9925 2.03596 42.2019C2.93376 43.1787 3.78168 44.2858 4.01112 44.7882C4.29043 45.3743 4.46999 46.6488 4.39019 47.3745C4.35029 47.6815 4.40016 49.0304 4.48994 50.3608C4.65953 52.7796 4.64955 54.0169 4.43009 54.8542C4.36026 55.0961 4.03107 55.9427 3.6919 56.7335C3.34275 57.5242 2.96368 58.5662 2.84398 59.0313C2.62451 59.8872 2.56466 59.9989 1.60701 61.2734C1.09825 61.9525 0.549597 63.4317 0.300208 64.7807C0.110338 65.7865 -0.00436282 67.5364 0.00012715 69H25.9527C25.7814 68.1272 25.558 67.1023 25.3887 66.4553C24.9897 64.883 24.3214 63.2271 22.406 59.022C21.4185 56.8451 21.199 56.1101 21.189 54.8821C21.1791 53.468 21.5482 51.6446 22.1567 50.1282C22.2863 49.7933 22.7552 48.9188 23.1941 48.1745C24.1917 46.4907 25.698 43.7183 25.9474 43.1043L26.1369 42.6391L26.2067 43.0578C26.2466 43.2904 26.3065 43.6625 26.3364 43.8765C26.3663 44.0997 26.4362 44.3695 26.496 44.4719C26.5758 44.6021 26.5758 44.6858 26.496 44.7603C26.3564 44.8905 26.3564 45.7929 26.4861 46.593C26.5459 46.9279 26.6157 47.5326 26.6357 47.942C26.6656 48.3513 26.7055 48.8909 26.7454 49.1514C26.7753 49.4025 26.8152 50.3236 26.8352 51.1981C26.8851 53.3378 27.0347 54.6402 27.344 55.6636C27.8727 57.4591 28.2617 61.4129 28.0622 63.0131C28.0023 63.4876 27.7629 64.9854 27.6332 65.618L27.6256 65.6569C27.5991 65.7924 27.5373 66.1081 27.4836 66.4088C27.4138 66.7437 27.344 67.1158 27.324 67.246C27.2246 67.8551 27.0848 68.5771 26.9873 69H33.7743C33.7937 68.3235 33.8287 67.4993 33.868 66.8274C33.9378 65.804 33.9777 64.5667 33.9677 64.083C33.9478 63.5992 33.9378 63.0968 33.9478 62.9666C33.9977 61.7851 33.9378 59.1151 33.8181 57.1521C33.7882 56.6404 33.7582 55.338 33.7582 54.2681C33.7682 52.4075 33.6385 50.9655 33.3692 49.8026C33.2295 49.2351 33.1996 49.0304 33.1198 48.3141L33.1091 48.2314C33.0682 47.9158 33.005 47.4283 32.9502 47.1047C32.8904 46.7418 32.8106 45.1324 32.7707 43.5229C32.7308 41.9135 32.6709 40.3133 32.641 39.9784C32.628 39.7606 32.5981 39.3813 32.5679 38.9968C32.5516 38.7903 32.5352 38.5822 32.5213 38.3969C32.4814 37.8573 32.3716 37.234 32.2719 36.9828C32.1522 36.7037 32.1123 36.4432 32.1522 36.2851C32.1921 36.1455 32.212 35.5594 32.1921 34.9733C32.1621 34.043 32.1422 33.9407 32.0225 34.0895C31.8928 34.257 31.8828 34.2477 31.8729 34.0058C31.8729 33.8569 31.9128 33.7639 31.9726 33.8011C32.1322 33.8942 32.1621 33.6988 32.202 32.4243C32.232 31.4846 32.212 31.2148 32.1023 31.1776C31.9527 31.1218 31.9227 30.8148 32.0724 30.7311C32.2619 30.6194 32.1721 30.0519 31.813 29.0844C31.0349 26.9912 30.1371 25.8376 28.8203 25.2329C28.1619 24.9259 28.0323 24.898 27.5435 24.9538C26.4062 25.0747 24.8501 24.6003 23.6729 23.7723C22.2165 22.749 21.4185 21.6326 20.9496 19.9487C20.6803 18.9719 20.6404 18.5811 20.8 18.302C20.9496 18.0508 21.0394 18.0788 21.1791 18.423C21.2489 18.5904 21.3885 18.8323 21.4983 18.9626C21.5869 19.0658 21.6361 19.1232 21.646 19.1169C21.6585 19.1089 21.6092 19.001 21.4983 18.7579C21.3885 18.516 21.2888 18.1625 21.2788 17.9671C21.2688 17.6508 21.6579 16.4507 21.8374 16.2925C21.8674 16.2553 21.8973 16.5809 21.8773 17.0182C21.8674 17.6043 21.9073 17.8741 22.027 18.0974C22.2365 18.4602 22.3262 18.4974 22.1966 18.1625C22.0868 17.8927 22.0669 17.1391 22.1567 16.6089C22.2165 16.3112 22.2365 16.2832 22.3462 16.4135C22.4559 16.553 22.4759 16.5344 22.5756 16.2646C22.6455 16.0972 22.6953 15.8832 22.6953 15.7902C22.6953 15.6878 22.7452 15.6134 22.7951 15.6134C22.8549 15.6134 22.8949 15.4367 22.8949 15.2134C22.8949 14.9994 22.9647 14.6366 23.0345 14.404L23.1841 13.9854V14.4226C23.1941 14.9157 23.3936 15.1483 23.3936 14.6645C23.3936 14.4319 23.4236 14.3947 23.4934 14.497C23.5632 14.5994 23.5931 14.5529 23.6031 14.311C23.6031 14.1342 23.6231 13.883 23.653 13.7528C23.6729 13.6225 23.7827 13.055 23.8924 12.4968C24.0021 11.9294 24.1218 11.0549 24.1617 10.5432C24.2016 10.0315 24.2515 9.7059 24.2715 9.81753C24.2914 9.92917 24.3712 10.0687 24.451 10.1245C24.5308 10.1897 24.5907 10.3292 24.6007 10.4408C24.6007 10.5341 24.6007 10.5828 24.6126 10.5861C24.6257 10.5896 24.653 10.5385 24.7104 10.4315C24.8501 10.1618 24.6007 8.94304 24.1418 7.64989C22.9248 4.23563 20.0518 1.01673 17.6078 0.328295C17.0292 0.170141 15.9519 -0.0252257 15.7723 0.00268387C15.7312 0.00268387 15.5164 0.0202033 15.2341 0.0432213C15.105 0.0537495 14.9618 0.0654308 14.8146 0.0771093ZM4.24055 32.508C4.24055 32.6103 3.82158 33.1127 3.7717 33.0755C3.70187 33.001 4.03107 32.4522 4.1408 32.4522C4.20065 32.4522 4.24055 32.4801 4.24055 32.508ZM4.93884 43.095C4.93884 43.1229 4.89894 43.1694 4.83909 43.1973C4.78921 43.2252 4.73933 43.2066 4.73933 43.1601C4.73933 43.1043 4.78921 43.0578 4.83909 43.0578C4.89894 43.0578 4.93884 43.0764 4.93884 43.095ZM28.6308 63.1526C28.6607 63.1992 28.6208 63.2457 28.541 63.2457C28.4512 63.2457 28.3814 63.1992 28.3814 63.1526C28.3814 63.0968 28.4213 63.0596 28.4712 63.0596C28.531 63.0596 28.6009 63.0968 28.6308 63.1526ZM33.7084 65.0691C33.8281 65.1156 33.838 65.1621 33.7582 65.3017C33.6385 65.5156 33.4689 65.4505 33.4689 65.19C33.4689 64.9947 33.4789 64.9854 33.7084 65.0691ZM28.3216 65.804C28.5011 66.0552 28.4413 66.0831 28.0422 65.9436C27.8727 65.8878 27.8028 65.8133 27.8427 65.711C27.9325 65.5063 28.142 65.5436 28.3216 65.804ZM28.5809 67.06C28.5809 67.1065 28.4911 67.153 28.3714 67.153C28.2617 67.153 28.2018 67.1065 28.2318 67.06C28.2617 67.0042 28.3615 66.9669 28.4413 66.9669C28.5211 66.9669 28.5809 67.0042 28.5809 67.06ZM33.5886 68.1019C33.4889 68.3066 33.4789 68.2973 33.4789 67.9903C33.4689 67.7484 33.4989 67.7019 33.5886 67.7856C33.6685 67.86 33.6685 67.9438 33.5886 68.1019ZM28.132 68.4555C28.3615 68.502 28.3914 68.5299 28.2717 68.5857C28.1121 68.6508 27.2841 68.502 27.2841 68.4089C27.2841 68.3438 27.7729 68.3717 28.132 68.4555Z" fill="#D5D5D5"/>
      </svg>
    </div>
    <div id="type-filter-btn" class="type-filter-btn">
      Филтрирайте по тип фигура
    </div>
    <!--<div class="type-filter">
      <div class="">
          <svg width="61" height="83" viewBox="0 0 61 83" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="30.5" cy="41.5" rx="30.5" ry="41.5" fill="#FF9898" fill-opacity="0.51"/>
          </svg>        
      </div>
    </div>-->
    {% comment %}
    {% if section.settings.view_as_enable %}
    <div class="filters-toolbar__view-as toolbar-col" data-view-as>
      <label data-translate="collections.toolbar.view_as">
        {{ 'collections.toolbar.view_as' | t}}
      </label>
      <div class="view-mode">
        <span class="icon-mode icon-mode-list{% if section.settings.collection_results_per_row == '1' %} active{% endif %}" data-col="1"></span>
        <span class="icon-mode icon-mode-grid grid-2{% if section.settings.collection_results_per_row == '2' %} active{% endif %}" data-col="2"></span>
        <span class="icon-mode icon-mode-grid grid-3{% if section.settings.collection_results_per_row == '3' %} active{% endif %}" data-col="3"></span>
        <span class="icon-mode icon-mode-grid grid-4{% if section.settings.collection_results_per_row == '4' %} active{% endif %}" data-col="4"></span>
        <span class="icon-mode icon-mode-grid grid-5{% if section.settings.collection_results_per_row == '5' %} active{% endif %}" data-col="5"></span>
      </div> 
    </div>
    {% endif %}
    {% endcomment %}  
  </div>   
  {% if section.settings.sort_enable or section.settings.limited_view %}
  <div class="column-right">
    {% if section.settings.limited_view %}
    
    <div class="filters-toolbar__limited-view toolbar-col" data-limited-view>
      <label data-translate="collections.toolbar.item_per_page">
        {{ 'collections.toolbar.item_per_page' | t}}
      </label>

      <div class="limited-view">
        <div class="label-tab" data-toggle="dropdown" aria-expanded="false">
            <span name="paginateBy" class="label-text">
            {% if cart.attributes.pagination != blank and cart.attributes.pagination %}
                {{ cart.attributes.pagination }}
            {% else %}
                {{ section.settings.collection_results_per_page }}
            {% endif %}
            </span>

            <span class="icon-dropdown">
                <i class="fa fa-angle-down"></i>
            </span>
        </div>

        <ul class="dropdown-menu">
          <li {% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '12'%}class="active"{% endif %}{% else %}{% if section.settings.collection_results_per_page == '12' %}class="active"{% endif %}{% endif %}>
            <span data-value="12"> 
              12
            </span>
          </li>
          <li {% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '16'%}class="active"{% endif %}{% else %}{% if section.settings.collection_results_per_page == '16' %}class="active"{% endif %}{% endif %}>
            <span data-value="16">
              16
            </span>
          </li>
          <li {% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '20'%}class="active"{% endif %}{% else %}{% if section.settings.collection_results_per_page == '20' %}class="active"{% endif %}{% endif %}>
            <span data-value="20">
              20
            </span>
          </li>
          <li {% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '24'%}class="active"{% endif %}{% else %}{% if section.settings.collection_results_per_page == '24' %}class="active"{% endif %}{% endif %}>
            <span data-value="24">
              24
            </span>
          </li>
          <li {% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '30'%}class="active"{% endif %}{% else %}{% if section.settings.collection_results_per_page == '30' %}class="active"{% endif %}{% endif %}>
            <span data-value="30">
              30
            </span>
          </li>
          <li {% if cart.attributes.pagination != blank and cart.attributes.pagination %}{% if cart.attributes.pagination == '50'%}class="active"{% endif %}{% else %}{% if section.settings.collection_results_per_page == '50' %}class="active"{% endif %}{% endif %}>
            <span data-value="50">
              50
            </span>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
        
    {% if section.settings.sort_enable %}
    <div class="filters-toolbar__sortby toolbar-col" data-sortby>
      
          {% if settings.layout_style == 'layout_style_fullwidth' and settings.category_layout == 'no_sidebar' %}
          <span class="icon">
            <svg viewBox="0 0 301.219 301.219" x="0px" y="0px" class="icon icon-sort" id="icon-sort">
                <g>
                <path d="M159.365,23.736v-10c0-5.523-4.477-10-10-10H10c-5.523,0-10,4.477-10,10v10c0,5.523,4.477,10,10,10h139.365             C154.888,33.736,159.365,29.259,159.365,23.736z"></path>
                <path d="M130.586,66.736H10c-5.523,0-10,4.477-10,10v10c0,5.523,4.477,10,10,10h120.586c5.523,0,10-4.477,10-10v-10             C140.586,71.213,136.109,66.736,130.586,66.736z"></path>
                <path d="M111.805,129.736H10c-5.523,0-10,4.477-10,10v10c0,5.523,4.477,10,10,10h101.805c5.523,0,10-4.477,10-10v-10             C121.805,134.213,117.328,129.736,111.805,129.736z"></path>
                <path d="M93.025,199.736H10c-5.523,0-10,4.477-10,10v10c0,5.523,4.477,10,10,10h83.025c5.522,0,10-4.477,10-10v-10             C103.025,204.213,98.548,199.736,93.025,199.736z"></path>
                <path d="M74.244,262.736H10c-5.523,0-10,4.477-10,10v10c0,5.523,4.477,10,10,10h64.244c5.522,0,10-4.477,10-10v-10             C84.244,267.213,79.767,262.736,74.244,262.736z"></path>
                <path d="M298.29,216.877l-7.071-7.071c-1.875-1.875-4.419-2.929-7.071-2.929c-2.652,0-5.196,1.054-7.072,2.929l-34.393,34.393             V18.736c0-5.523-4.477-10-10-10h-10c-5.523,0-10,4.477-10,10v225.462l-34.393-34.393c-1.876-1.875-4.419-2.929-7.071-2.929             c-2.652,0-5.196,1.054-7.071,2.929l-7.072,7.071c-3.904,3.905-3.904,10.237,0,14.142l63.536,63.536             c1.953,1.953,4.512,2.929,7.071,2.929c2.559,0,5.119-0.976,7.071-2.929l63.536-63.536             C302.195,227.113,302.195,220.781,298.29,216.877z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
            </svg>
          </span>
          {% endif %}
          {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
          <label for="sort-by">
            {{ 'collections.sorting.title' | t }}
          </label>

          <div class="filter-sortby">
            
            <collection-filters-form class="facets small-hide">
              <form id="CollectionSort_by" class="facets__form">
                {%- for filter in collection.filters -%}
                  {% if filter.type == 'list' %}
                    {%- for value in filter.active_values -%}
                    <input type="hidden"
                      name="{{ value.param_name }}"
                      value="{{ value.value }}"
                    >
                    {% endfor %}
                  {% else %}
                    {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                      <input type="hidden" name="{{ filter.min_value.param_name }}" value="{{ filter.min_value.value | money_without_currency | replace: '.00', '' }}">
                      </input>
                      <input  type="hidden" name="{{ filter.max_value.param_name }}" value="{{ filter.max_value.value | money_without_currency | replace: '.00', '' }}">
                      </input>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                <div class="label-tab {{sort_by}}" data-toggle="dropdown" aria-expanded="false">
                  
                  {% if sort_by == 'manual' %}
                  <span class="label-text">
                    {{ 'collections.sorting.featured' | t }}
                  </span>
                  {% elsif sort_by == 'price-ascending' %}
                  <span class="label-text">
                    {{ 'collections.sorting.price_ascending' | t }}
                  </span>
                  {% elsif sort_by == 'price-descending' %}
                  <span class="label-text">
                    {{ 'collections.sorting.price_descending' | t }}
                  </span>
                  {% elsif sort_by == 'title-ascending' %}
                  <span class="label-text">
                    {{ 'collections.sorting.az' | t }}
                  </span>
                  {% elsif sort_by == 'title-descending' %}
                  <span class="label-text">
                    {{ 'collections.sorting.za' | t }}
                  </span>
                  {% elsif sort_by == 'created-ascending' %}
                  <span class="label-text">
                    {{ 'collections.sorting.date_ascending' | t }}
                  </span>
                  {% elsif sort_by == 'created-descending' %}
                  <span class="label-text">
                    {{ 'collections.sorting.date_descending' | t }}
                  </span>
                  {% elsif sort_by == 'best-selling' %}
                  <span class="label-text">
                    {{ 'collections.sorting.best_selling' | t }}
                  </span>
                  {% endif %}
                  <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                  </span>
                </div>

                <ul class="dropdown-menu">
                  {%- for option in collection.sort_options -%}
                  <li {% if option.value == sort_by %}class="active"{% endif %}>
                    
                    <label for="{{ option.value }}">
                      <input type="radio" id="{{ option.value }}" name="sort_by" value="{{ option.value }}" {% if option.value == sort_by %}checked{% endif %}>
                    </label>
                    <span>{{ option.name | escape }}</span>
                  </li>
                  {% endfor %}
                </ul>
              </form>
            </collection-filters-form>
            <noscript>
              <button type="submit" class="button button--small">{{ 'sections.collection_template.sort_button' | t }}</button>
            </noscript>
          </div>

        
      
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>