<div class="wrapper-body-wrap section-wrap home-img-text-maxi {%if  section.settings.disable_border == true%}no-border{%endif%}" id="maxy-{{section.id}}" data-loader-script="{{ 'halo.slide-blog.js' | asset_url }}">
    <div class="container wrapper-body-wrap bordered-inside">
            <div class="row">
                 <div class="col-sm-6">
               		{%- assign img_url = section.settings.image | img_url: 'original', crop: 'center' -%}
                   	<img data-src="{{ img_url }}" alt="{{ block.settings.image.alt | default: shop.name }}" itemprop="logo"
                                    class="lazyload " data-sizes="auto">
              	 </div>
              	<div class="col-sm-6 desc">
                  {% if section.settings.widget_title != blank %}<h2 class="maxi-title">{{ section.settings.widget_title }}</h2>{% endif %}
                  <div>{{section.settings.widget_text}}</div>
                  {% if section.settings.link %}
                  <a class="maxi-button just-text d-flex" href="{{section.settings.link}}">
                    <span>{{section.settings.link-label}}</span>
                    <svg width="42" height="9" viewBox="0 0 42 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M32.5 0L41.5 4.5L32.5 9V5H0.5V4H32.5V0Z" fill="#000"/>
                    </svg>
                  </a>
                  {% endif %}
              	</div>
            </div>       
        </div>

</div>


{% schema %}
    {
        "name": "Maxi: Image, text left",
        "class": "home-img-text-maxi-left",
        "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Title"
            },
            {
              "type": "checkbox",
              "id": "disable_border",
              "label": "Disable border"
            },
            {
              "type": "richtext",
              "id": "widget_text",
              "label": "Text",
              "default": "<p>Put some text to this block</p>"
            },
 			      {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }, 
            {
              "type": "text",
              "id": "link-label",
              "label": "Link Title",
              "default": "Link Title"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Link"
            }
        ],
        "presets": [
            {
                "name": "Maxi: Image, text left",
                "category": "text"
            }
        ]
    }
{% endschema %}